{% extends "templates/base.html" %}

{% block page_title %}Bulk Import{% endblock %}

{% block head %}
    <script src="/static/sorttable.js"></script>
    <script><!--
        function addToSources(source) { 
            if(source) { 
                $('.source_list').append('<option>' + source + '</option>'); 
                $('#sources').val(
                    $('#sources').val().trim()
                    + '\n' + source
                );
            } 
        }

        function promptAndAddSource() {
            addToSources(
                prompt('What is the name of the new source?', 'New source')
            );
        }

        function clearAll(lang) {
            var vnames = $('.vname')
            var sources = $('.source_list')

            if(lang) {
                vnames = $(".vname.lang_" + lang)
                sources = $(".source_list.lang_" + lang)
            }

            vnames.val("")
            sources.val('{{ sources[0] }}')
        }

    --></script>
{% endblock %}

{% block content %}
    <form method="POST">
    {% if scnames|length == 0 %}
        <p>Please enter the scientific names to add to the Map of Life app.</p>

            <p>
                Input dataset: <input size="100" name="input_dataset" />
            </p>
            <textarea name="scnames" rows="25" cols="80">Please enter scientific names here.</textarea>
            <input type="submit" value="Upload names">
    {% else %}
        <input type="hidden" name="scnames" value="{{ scnames|join('\n') }}" />
        <table class="sortable" border="1">
            <h2>Dataset: <em>{{ input_dataset }}</em></h2>

            <p>Change input dataset name: <input size="100" name="input_dataset" value="{{ input_dataset }}" /></p>
            <p>Sources: <textarea id="sources" name="sources" cols="80" rows="5" readonly="1"
                >{% for source in sources %}{{source}}
{% endfor %}</textarea>
                <button onclick="promptAndAddSource(); return false;">Add new source</button></p>
            </p>
            {% if scnames_not_in_master_list|length > 0 %}
                <p><strong>Warning</strong>: <strong>{{scnames_not_in_master_list|length}} scientific names</strong> listed below do not exist in <a href="{{url_master_list}}">the master list</a>. To add them, <a onclick="$('#sql_add_to_master_list').show()" href="#">click here to display the appropriate SQL</a>.
                <br>
                <textarea cols="80" rows="5" readonly="1" id="sql_add_to_master_list" style="display:none">{{sql_add_to_master_list}}</textarea>
                </p>
            {% endif %}

            <center><p>
                <button onclick="clearAll(); return false;">Clear all</button>
                <button onclick="fillFromEOL(); return false;">Fill from EOL</button>
                <input type="submit" value="Refresh display">
            </p></center>

            <tr>
                <th>&nbsp;</th>
                <th>Scientific Name</th>
                {% for lang in language_names_list %}
                    <th>{{ language_names[lang]|default(lang) }}<br>
                    <span style="font-size: 90%; font-weight: 100">
                        <a href="#" onclick="clearAll('{{lang}}')">Clear all</a>, 
                        <a href="#" onclick="fillFromEOL(['{{lang}}'])">Fill in from EOL</a>
                    </span>
                    </th>
                {% endfor %}
            </tr>
            {% for scname in scnames %}
            <tr>
                {% set scname_index = loop.index %}
                <td>{{ scname_index }}</td>
                <td>{% if scname not in scnames_not_in_master_list %}
                        <em>{{ scname }}</em>
                    {% else %}
                        <span style="color: red"><em>{{ scname }}</em></span><br><strong>Warning: not in master list!</strong>
                    {% endif %}
                    <input type="hidden" name="scname_{{scname_index}}" value="{{scname}}" />
                </td>
                {% for lang in language_names_list %}
                    <td>
                        <input class="vname lang_{{lang}}" style="width: 100%" name="vname_{{scname_index}}_{{lang}}" value="{% if vnames|length >= scname_index and lang in vnames[scname_index] %}{{ vnames[scname_index][lang] }}{% endif %}" />
                        <select class="source_list lang_{{lang}}" style="width: 100%" name="vname_{{scname_index}}_{{lang}}_source">
                            {% for source in sources %}
                                <option {% if vnames_source|length >= scname_index and lang in vnames_source[scname_index] and vnames_source[scname_index][lang]==source %}selected="1"{% endif %}>{{source}}</option>
                            {% endfor %}
                        </select>
                    </td>
                {% endfor %} 
            </tr>
            {% endfor %}
        </table>
        
        <center><p>
            <input type="submit" value="Refresh display">
            <input type="submit" name="save" value="Upload names">
        </p></center>
    {% endif %}
    </form>
{% endblock %}
