{% extends "templates/base.html" %}

{% block page_title %}List{% endblock %}

{% block head %}
    <script src="{{'/static/sorttable.js'|url_to_base}}"></script>
{% endblock %}

{% block content %}
    <p><strong>{{ search_criteria }}</strong></p>

        <p>Displaying {{ name_list|length }} results from {{ offset + 1 }} to {{offset + display_count }} out of {{ '%d' % total_count }}.</p>

        <div class="well well-sm">
            <form class="pull-left" style="padding-right: 10px;" method="POST" action="{{'/import'|url_to_base}}">
                <input type="hidden" name="input_dataset" value="{% if selected_datasets|length == 1 %}{{selected_datasets[0]}}{%else%}{{search_criteria|capitalize}}{%endif%}" />
                <textarea style="display: none" name="scnames">{{ name_list|join("\n") }}</textarea>
                <input class="btn btn-primary" type="submit" value="Bulk-edit {{ name_list|count }} currently displayed names" />
            </form>

            <form method="POST" action="{{'/import'|url_to_base}}">
                <input type="hidden" name="input_dataset" value="{% if selected_datasets|length == 1 %}{{selected_datasets[0]}}{%else%}{{search_criteria|capitalize}}{%endif%}" />
                <textarea style="display: none" name="scnames">{{ genera_list|join("\n") }}</textarea>
                <input class="btn btn-primary" type="submit" value="Bulk-edit {{ genera_list|count }} currently displayed genera" />
            </form>
        </div>

        <form method="GET">
            <input type="hidden" name="offset" value="{{offset}}">
            <input type="hidden" name="display" value="{{display_count}}">

            <div id="list_content" style="width: 100%; margins: auto; text-align: center">

        <!-- <div class="well well-sm "> -->
        <div class="panel panel-info panel-sm">
            <div class="panel-heading">Filter data</div>
            <div class="panel-body">

                <p>Dataset:

                <select name="dataset">
                    <option value="all" {% if 'all' in selected_datasets %}selected=1{% endif %}>All</option>
                {% for dataset in datasets_data %}
                    <option
                        {% if 'all' not in selected_datasets and dataset['dataset'] in selected_datasets %}
                            selected="1"
                        {% endif %}
                        value="{{dataset['dataset']}}"
                    >{{dataset['dataset']}} ({{dataset['count']}} species)</option>
                {% endfor %}
                </select>
                </p>

                <p>Missing names in:
                <select name="blank_lang">
                <option value="none" {% if 'none' in selected_blank_langs %}selected="1"{%endif%}>None</option>
                {% for lang in language_names_list %}
                    <option value="{{lang}}"
                        {% if  'none' not in selected_blank_langs and lang in selected_blank_langs %}
                            selected="1"
                        {% endif %}
                    >{{language_names[lang]}}</option>
                {% endfor %}
                </select>
                </p>

                <p><span {#title="Including names that aren't the primary name" style="border-bottom: 1px dotted black;"#}>Names from source (including secondary names)</span>:
                <select name="source" id="source">
                    <option value="all" {% if 'all' in selected_blank_langs %}selected="1"{%endif%}>All</option>
                    {% for source in sources %}
                        <option value="{{source}}"
                            {% if 'all' not in selected_sources and source in selected_sources %}
                                selected="1"
                            {% endif %}
                        >{{source|truncate(60, True)}}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-info btn-xs" onclick="location.href = '{{"/source"|url_to_base}}?source=' + $('#source').val(); return false;">Edit source</button>
                </p>
            </div>

            <div class="panel-footer"><button class="btn btn-info btn-xs" type="submit">Filter</button></div>
        </div>

                <button class="btn btn-default btn-xs" type="submit" name="offset" value="0"
            {% if offset == 0 %}disabled="disabled"{% endif %}
        ><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>

        <button class="btn btn-default btn-xs" type="submit" name="offset" value="{{offset - display_count}}"
            {% if offset - display_count < 0 %}disabled="disabled"{% endif %}
        ><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></button>

        |
        <select name="display" onchange="this.form.submit()">
            <option {% if display_count == 20 %}selected=1{% endif %}  value="20">Display 20 rows at once</option>
            <option {% if display_count == 40 %}selected=1{% endif %}  value="40">Display 40 rows at once</option>
            <option {% if display_count == 60 %}selected=1{% endif %}  value="60">Display 60 rows at once</option>
            <option {% if display_count == 80 %}selected=1{% endif %}  value="80">Display 80 rows at once</option>
            <option {% if display_count == 100 %}selected=1{% endif %}  value="100">Display 100 rows at once</option>
            <option {% if display_count == 200 %}selected=1{% endif %}  value="200">Display 200 rows at once</option>
            <option {% if display_count == 500 %}selected=1{% endif %}  value="500">Display 500 rows at once</option>
            <option {% if display_count == 1000 %}selected=1{% endif %}  value="1000">Display 1000 rows at once</option>
            <option {% if display_count == 2000 %}selected=1{% endif %}  value="2000">Display 2000 rows at once</option>
            <option {% if display_count == 5000 %}selected=1{% endif %}  value="5000">Display 5000 rows at once</option>
            <option {% if display_count == 10000 %}selected=1{% endif %}  value="10000">Display 10000 rows at once</option>
        </select>

        <button class="btn btn-default btn-xs" type="submit" name="offset" value="{{offset + display_count}}"
            {% if total_count != 0 and offset + display_count >= total_count %}disabled="disabled"{% endif %}
        ><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></button>

        <button class="btn btn-default btn-xs" type="submit" name="offset" value="{{total_count - display_count}}"
            {% if total_count == 0 or offset >= total_count - display_count %}disabled="disabled"{% endif %}
        ><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
    </div>

    <p>(Genus common names are italicized)</p>

    <table class="sortable" border="1" width="100%">
        <thead><tr>
            <th>&nbsp;</th>
            <th>Species</th>
            <th>Family</th>
            <th>Genus</th>
            {% for name in language_names_list %}
                <th>{{ language_names[name] }}</th>
            {% endfor %}
        </tr></thead><tbody>
        {% if name_list|length == 0 %}
            <tr>
                <td colspan="{{ language_names_list|length + 3}}"><center><em>No results</em></center></td>
            </tr>
        {% else %}
            {% for name in name_list %}
                <tr>
                    <td>{{ loop.index + offset }}</td>
                    <td><em><a href="{{'/search'|url_to_base}}?lookup={{name}}&search={{name}}">{{ name | capitalize }}</a></em></td>
                    <!--
                    <td style="font-size: 8pt"><tt>http://names.mol-api.appspot.com/?lookup={{name|replace(' ', '+')}}&amp;search={{name|replace(' ', '+')}}</tt></td>
                    <td>{{vnames[name]['tax_class']|join(", ") }}&nbsp;</td>
                    <td>{{vnames[name]['tax_order']|join(", ") }}&nbsp;</td>
                    -->
                    <td><a href="{{'/search'|url_to_base}}?lookup={{vnames[name]['tax_family']|join(', ')}}">{{vnames[name]['tax_family']|join(", ")|capitalize }}</a>&nbsp;</td>
                    {% set genus = name.split()[0] %}
                    <td><em><a href="{{'/search'|url_to_base}}?lookup={{genus}}">{{genus | capitalize}}</a></em></td>
                    {% for lang in language_names_list %}
                        {% if lang in vnames[name] and vnames[name][lang].vernacular_name_formatted != '' %}
                            <td>
                            {% if not vnames[name][lang].is_direct_match %}<em>{% endif %}
                            <a {% if vnames[name][lang].source and vnames[name][lang].source != '' %}title="Source: {{vnames[name][lang].source}}" style="border-bottom: 1px dotted black;"{% endif %}
                                    href="{{'/search'|url_to_base}}?lookup={{name}}&search={{name}}#lang-{{lang}}">{{ vnames[name][lang].vernacular_name_formatted }}</a>
                            {% if not vnames[name][lang].is_direct_match %}</em>{% endif %}
<!--                            {% if vnames[name][lang].source and vnames[name][lang].source != '' %}<span class="label label-info" title="{{vnames[name][lang].source}}">{{vnames[name][lang].source|truncate(5, False)}}</span>{% endif %}
-->
                            </td>
                        {% else %}
                            <td>&nbsp;<!-- <a href="/?lookup={{name}}&search={{name}}#lang-{{lang}}"><center><em>None</em></center></a> --></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    </table>
    </div>

{% endblock %}
