{% extends "templates/base.html" %}

{% block page_title %}{{ search_criteria }}{% endblock %}

{% block style %}
#scrolled_search_results {
    border: 1px solid black;
}

table.search_results tr.selected td {
    background: yellow;
}

table.search_results td {
    padding: 0.5em;
    border: 1px solid black;
}


table.search_results tr:nth-child(even) {
    background: #ddd;
}
{% endblock %}

{% block content %}
        <p><strong>{{ search_criteria }}</strong></p>

        {% if not name_list %}
            <p><strong>No names matched.</strong></p>
        {% else %}
            <p>{{ name_list|length }} results.</p>
            <table border="1">
                {% block list_nav %}<td colspan="9">
                    {% if offset - display_count >= 0 %}
                        <a href="?offset={{offset - display_count}}">&lt;&lt;</a>
                    {% else %}
                        &lt;&lt;
                    {% endif %}

                    <a href="?offset={{offset + display_count}}">&gt;&gt;</a>
                </td>{% endblock %}
                <tr>
                    <th>&nbsp;</th>
                    <th>Species</th>
                    <th>URL</th>
                    {% for name in language_names_list %}
                        <th>{{ language_names[name] }}</th>
                    {% endfor %}
                </tr>
                {% for name in name_list %}
                    <tr>
                        <td>{{ loop.index + offset }}</td>
                        <td><em><a href="http://names.mol-api.appspot.com/?lookup={{name}}&search={{name}}">{{ name }}</a></em></td>
                        <td style="font-size: 8pt"><tt>http://names.mol-api.appspot.com/?lookup={{name|replace(' ', '+')}}&amp;search={{name|replace(' ', '+')}}</tt></td>
                        {% for lang in language_names_list %}
                            {% if lang in vnames[name] %}
                                <td><a href="/?lookup={{name}}&search={{name}}#lang-{{lang}}">{{ vnames[name][lang].vernacularname }}</a></td>
                            {% else %}
                                <td>&nbsp;</td> 
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                {{ self.list_nav() }}
            </table>
        {% endif %}

{% endblock %}
