{% extends "templates/base.html" %}
{% block page_title %}Welcome{% endblock %}
{% block javascript %}
{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
    <p>
        Welcome to Map of Life Vernacular Name Editor. Please select from the following options or search for a species
    </p>

    <ul>
        <li><a href="/coverage">Coverage</a></li>
        <li><a href="/masterlist">Master List</a></li>
        <li><a href="/list">List names</a></li>
        <li><a href="/family">Family Names</a></li>
        <li><a href="/hemihomonyms">Hemihomonyms</a></li>
        <li><a href="/sources">Sources</a></li>
        <li><a href="/recent">Recent changes</a></li>
        <li><a href="/import">Bulk import</a></li>
    </ul>
{% endblock %}
