{% extends "templates/base.html" %}

{% block page_title %}Recent changes{% endblock %}

{% block head %}
    <script src="{{'/static/sorttable.js'|url_to_base}}"></script>
{% endblock %}

{% block content %}
    {% if not recent_changes %}
        <p>No recent changes to display. Try <a href="{{'/recent'|url_to_base}}">returning to start</a>.</p>
    {% else %}
        <p>Displaying {{ recent_changes|length }} results from {{ offset + 1 }} to {{offset + display_count }} out of {{ '%d' % total_count }}.</p>

        <div class="well well-sm">
            {% if offset > 0 %}
            <a class="btn btn-default" href="?offset=0">Start</a>
            <a class="btn btn-default" href="?offset={{offset - display_count}}">Previous {{display_count}} entries</a>
            {% endif %}
            {% if offset + display_count < total_count %}
            <a class="btn btn-default" href="?offset={{offset + display_count}}">Next {{display_count}} entries</a>
            {% endif %}
        </div>

        <table border="1" class="sortable">
            <thead><tr>
                <th>&nbsp;</th>
                <th>Scientific name</th>
                <th>Language</th>
                <th>Common name</th>
                <th>Source</th>
                <th>Added</th>
                <th>Actions</th>
            </tr></thead>
            <tbody>
            {% for recent_change in recent_changes %}
                <tr>
                    <td>{{ loop.index + offset }}</td>
                    <td><a href="{{'/search'|url_to_base}}?lookup={{recent_change.scname}}"><em>{{ recent_change.scname | capitalize }}</em></a></td>
                    <td>
                        {% set lang = recent_change.lang %}
                        {% if lang in language_names %}
                            {{ language_names[lang] }}
                        {% else %}
                            {{ lang }}
                        {% endif %}
                        &nbsp;
                    </td>
                    <td><a href="{{'/search'|url_to_base}}?lookup={{recent_change.scname}}#lang-{{recent_change.lang}}">{{recent_change.cmname}}</a></td>
                    <td>{{ recent_change.source|urlize }}{% if recent_change.source_priority|int != 80 %} (priority: {{recent_change.source_priority}}){% endif %}{% if recent_change.url %}<br>{{ recent_change.url|urlize }}{% endif %}</td>
                    <td>{{ recent_change.added_by }} at {{ recent_change.created_at }}</td>
                    <td><form method="POST" action="{{'/delete/cartodb_id'|url_to_base}}"><button class="btn btn-danger btn-sm" type="submit" name="cartodb_id" value="{{ recent_change.cartodb_id }}">Delete</button></form></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="well well-sm">
            {% if offset > 0 %}
            <a class="btn btn-default" href="?offset=0">Start</a>
            <a class="btn btn-default" href="?offset={{offset - display_count}}">Previous {{display_count}} entries</a>
            {% endif %}
            {% if offset + display_count < total_count %}
            <a class="btn btn-default" href="?offset={{offset + display_count}}">Next {{display_count}} entries</a>
            {% endif %}
        </div>


    {% endif %}
{% endblock %}
