{% extends "templates/base.html" %}

{% block page_title %}Regular Expression Search{% endblock %}

{% block head %}
    <script src="{{'/static/sorttable.js'|url_to_base}}"></script>
{% endblock %}

{% block content %}
    {% set vname_urlencoded = vname.replace('%', '%25') %}

    <div class="well">
        <form method="GET">
            <p>Search for vernacular name (<a target="_blank" href="http://www.postgresql.org/docs/9.0/static/functions-matching.html#FUNCTIONS-POSIX-REGEXP">PostgreSQL POSIX regexp</a>):
            <input name="vname" size="80" value="{{vname}}" />
            <button class="btn btn-default" type="submit">Search</button>
            </p>

            <p>Some example queries:</p>
            <ul>
                <!-- %2B is '+' -->
                <li><a href="?vname=\ss\s">Dangling 's'</a></li>
                <li><a href="?vname=<.*>">HTML tags</a></li>
                <li><a href="?vname=[a-z]%2B[A-Z]%2B[a-z]%2B">Improper spacing</a></li>
            </ul>

        </form>
    </div>

    {% if not rows %}
        <p>No recent changes to display. Try <a href="?vname=">clearing the search</a>.</p>
    {% else %}
        <p>Displaying {{ rows|length }} results from {{ offset + 1 }} to {{offset + display_count }} out of {{ '%d' % total_count }}.</p>

        <div class="well well-sm">
            {% if offset > 0 %}
            <a class="btn btn-default" href="?vname={{vname_urlencoded|quote_plus}}&offset=0">Start</a>
            <a class="btn btn-default" href="?vname={{vname_urlencoded|quote_plus}}&offset={{offset - display_count}}">Previous {{display_count}} entries</a>
            {% endif %}
            {% if offset + display_count < total_count %}
            <a class="btn btn-default" href="?vname={{vname_urlencoded|quote_plus}}&offset={{offset + display_count}}">Next {{display_count}} entries</a>
            {% endif %}
        </div>

        <table border="1" class="sortable">
            <thead><tr>
                <th>&nbsp;</th>
                <th>Scientific name</th>
                <th>Language</th>
                <th>Common name</th>
                <th>Source</th>
                <th>Added</th>
                <th>Actions</th>
            </tr></thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ loop.index + offset }}</td>
                    <td><a href="{{'/search'|url_to_base}}?lookup={{row.scname}}"><em>{{ row.scname | capitalize }}</em></a>{% if not row.flag_in_master_list %} (not in master list){% endif %}</td>
                    <td>
                        {% set lang = row.lang %}
                        {% if lang in language_names %}
                            {{ language_names[lang] }}
                        {% else %}
                            {{ lang }}
                        {% endif %}
                        &nbsp;
                    </td>
                    <td><a href="{{'/search'|url_to_base}}?lookup={{row.scname}}#lang-{{row.lang}}">{{row.cmname}}</a></td>
                    <td>{{ row.source|urlize }} (priority: {{row.source_priority}}){% if row.url %}<br>{{ row.url|urlize }}{% endif %}</td>
                    <td>{{ row.added_by }} at {{ row.created_at }}</td>
                    <td><form method="POST" action="{{'/delete/cartodb_id'|url_to_base}}"><button class="btn btn-danger btn-sm" type="submit" name="cartodb_id" value="{{ row.cartodb_id }}">Delete</button></form></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="well well-sm">
            {% if offset > 0 %}
            <a class="btn btn-default" href="?vname={{vname_urlencoded|quote_plus}}&offset=0">Start</a>
            <a class="btn btn-default" href="?vname={{vname_urlencoded|quote_plus}}&offset={{offset - display_count}}">Previous {{display_count}} entries</a>
            {% endif %}
            {% if offset + display_count < total_count %}
            <a class="btn btn-default" href="?vname={{vname_urlencoded|quote_plus}}&offset={{offset + display_count}}">Next {{display_count}} entries</a>
            {% endif %}
        </div>


    {% endif %}
{% endblock %}
