{% extends "templates/base.html" %}
{% block page_title %}Search{% endblock %}
{% block javascript %}
{% endblock %}
{% block style %}
#scrolled_search_results {
    border: 1px solid black;
}

table.search_results tr.selected td {
    background: yellow;
}

table.search_results td {
    padding: 0.5em;
    border: 1px solid black;
}

table.search_results tr:nth-child(even) {
    background: #ddd;
}
{% endblock %}

{% block content %}
        {% if dataset_filter %}<p>Datasets filtered by <em>{{dataset_filter}}</em> (<a href="?dataset=&search={{current_search}}&lookup={{lookup_search}}">reset</a>).</p>{% endif %}

        <table width="100%" style="margin: 2em 0em">
        <tr><td width="20%" valign="top">
    
        {% if not search_results %}
                <p><strong>No results found.</strong> Use the search box above to try another search.</p>

        {% else %}

            <div id="scrolled_search_results" style="overflow: scroll; height: 600px;">
            <table class="search_results">
            <form onsubmit="window.location.hash = ''">
            <input type="hidden" name="search" value="{{current_search}}">
            {% for scname in search_results_scnames %}
                <tr class="{% if scname|lower == lookup_search|lower %}selected{% endif %}">
                    <!-- TODO: these should be URL encoded before being used in a link -->
                    <td><em>{{scname}}</em> <a style="float: right" href="?dataset={{dataset_filter}}&search={{current_search}}&lookup={{scname}}">View</a>
                    <div style="font-size: 90%; width: auto;">
                        {% if search_results[scname] %}<br><strong>Matched common name</strong>
                        <ul>
                        {% for cmname in search_results[scname] %}
                            <li>{{ cmname }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    </td>
                </tr>
            {% endfor %}
            </form>
            </table>
            </div>
            </td>
        {% endif %}

        {% if not lookup_results %}
        {% else %}
            <td valign="top" width="80%">
                <div id="external_links" style="float: right; width=30%; border: 1px solid #555; background: #eee; padding: 0.5em">
                    <strong>External links</strong>
                    <br>
                    <br>
                    <a target="_blank" href="https://en.wikipedia.org/w/index.php?title=Special%3ASearch&search={{lookup_search}}">English Wikipedia</a>
                    <br>
                    <a target="_blank" href="http://eol.org/{{lookup_search}}">EOL</a>
                    <br>
                    <a target="_blank" href="http://www.gbif.org/species/search?q={{lookup_search}}">GBIF</a>
                </div>

                <h2><em>{{ lookup_search }}</em>
                </h2>

                {% set genus = lookup_search.split()[0] %}
                <p>
                    <form method="post" action="{{'/add/name'|url_to_base}}">
                        <input type="hidden" name="dataset" value="{{dataset_filter}}">
                        <input type="hidden" name="search" value="{{current_search}}">
                        <input type="hidden" name="lookup" value="{{lookup_search}}">

                        Class: {% for class in tax_class %}<a href="?lookup={{class}}">{{class|capitalize}}</a> {%endfor%}
                        <a class="btn btn-info btn-xs" role="button" href="#" onclick="$('#tax_class_add').show(); $('#tax_source_add').show(); return false">Add</a>
                        <input id="tax_class_add" name="tax_class" style="display:none">
                        <br>
                        Order: {% for order in tax_order %}<a href="?lookup={{order}}">{{order|capitalize}}</a> {%endfor%}
                        <a class="btn btn-info btn-xs" role="button" href="#" onclick="$('#tax_order_add').show(); $('#tax_source_add').show(); return false">Add</a>
                        <input id="tax_order_add" name="tax_order" style="display:none">
                        <br>
                        Family: {% for family in tax_family %}<a href="?lookup={{family}}">{{family|capitalize}}</a> {%endfor%}
                        <a class="btn btn-info btn-xs" role="button" href="#" onclick="$('#tax_family_add').show(); $('#tax_source_add').show(); return false">Add</a>
                        <input id="tax_family_add" name="tax_family" style="display:none">
                        <br>
                        Genus: <em><a href="?lookup={{genus}}">{{genus}}</a></em><br>

                        <div id="tax_source_add" style="display:none">
                            <em>Higher taxonomy source</em>: <input name="source" size=50>
                            <input class="btn btn-success btn-sm" name="add_to_current_lookup_in_{{language}}"
                                value="Add" type="submit">
                        </div> 

                   </form>
                </p>

<!--
                    <div style="float: right; padding: 0.5em; border: 1px; background: #ddd">
                        <center><strong>Languages</strong></center>
                        {% for lang in language_names_list %}
                            <a href="#lang-{{language}}">{{language_names[lang]}}</a>
                            <br>
                        {% endfor %}
                        <a href="#lang-completely-new">Add new name</a>
                    </div>
-->

                    {% for language in language_names_list %}
                        <div class="results-lang{% if language in language_names_list %} results-lang-mol{% endif %}" id="results-lang-{{language}}" {% if language not in language_names_list %}style="display:none"{% endif %}>
                        {% if language in lookup_results and (lookup_results[language])|length > 0 %}
                            <h3 id="lang-{{language}}">{{ language_names[language] }}: {{ lookup_results[language][0].vernacularname }}</h3>
                        {% else %}
                            <h3 id="lang-{{language}}">{{ language_names[language] }}: <em>None</em></h3>
                        {% endif %}
                        <ol>
                            {% for result in lookup_results[language] %}
                                <li>
                                    <div class="display_name" id="display_name_{{language}}_{{loop.index}}">
                                        {% if not result.is_direct_match %}(for <em>{{ result.matched_name|capitalize }}</em>){% endif %}
                                        {% if loop.first %}<strong>{% endif %}
                                        <a class="nohistory" href="#" onclick="$('.display_name').show(); $('.edit_name').hide(); $('#display_name_{{language}}_{{loop.index}}').hide(); $('#edit_name_{{language}}_{{loop.index}}').show(); $('#edit_name_{{language}}_{{loop.index}} input:first').focus(); return false">{{ result.vernacular_name_formatted }}</a>
                                        {% if result.source_priority == 80 %}(added manually){% elif result.source_priority != 0%}(Priority: {{ result.source_priority }}){%endif%}
                                        {% if loop.first %}</strong>{% endif %}
                                        {# TODO: reactivate once we have this in the result
                                        {% if result.source_priority > 80 %}
                                            <strong>(This name cannot be overridden! Please contact an administrator to edit it)</strong>
                                        {% endif %}
                                        #} {% if result.url %}(<a target="_new" href="{{ result.url }}">URL</a>){% endif %}
                                        <ul>
                                            <li><span style="font: 80% small-caps">{{ result.source|urlize }}<!-- from {{result.source_url|urlize}} --></span></li>
                                        </ul>
                                    </div>
                                    <div class="edit_name" id="edit_name_{{language}}_{{loop.index}}" style="display: none">
                                        <form method="post" action="{{'/add/name'|url_to_base}}">
                                            <input name="name_to_add" value="{{result.cmname}}" size=40>
                                            <span style="font-size: 80%">Source:</span> <input name="source" size=50 value="{{result.sources|join("|")}}">
     
                                            <input type="hidden" name="dataset" value="{{dataset_filter}}">
                                            <input type="hidden" name="search" value="{{current_search}}">
                                            <input type="hidden" name="lookup" value="{{lookup_search}}">
                                            <input type="hidden" name="lang" value="{{language}}">
                                            <input class="btn btn-success btn-sm" name="add_to_current_lookup_in_{{language}}"
                                                value="Add" type="submit">
                                            <input class="btn btn-default btn-sm" value="Cancel" type="reset" onclick="$('#edit_name_{{language}}_{{loop.index}}').hide(); $('#display_name_{{language}}_{{loop.index}}').show();">
                                        </form>
                                    </div>
                                </li>
                            {% endfor %}
                            <li><a class="btn btn-info btn-xs nohistory" role="button" href="#" onclick="$('#add_new_{{language}}').toggle(); $('#name_to_add_{{language}}').focus(); return false"><em>Add another</em></a>
                                <div id='add_new_{{language}}' style="display:none">
                                    <form method="post" action="{{'/add/name'|url_to_base}}">
                                        <input name="name_to_add" id="name_to_add_{{language}}">
                                        <input name="source" size=50 value="Source">
                                        <input class="btn btn-success btn-sm" name="add_to_current_lookup_in_{{language}}" value="Add" type="submit">
                                        <input type="hidden" name="dataset" value="{{dataset_filter}}">
                                        <input type="hidden" name="search" value="{{current_search}}">
                                        <input type="hidden" name="lookup" value="{{lookup_search}}">
                                        <input type="hidden" name="lang" value="{{language}}">
                                    </form>
                                </div>
                            </li>
                        </ol>
                        </div>
                    {% endfor %}
                    <!--
                        <div class="results-lang" id="results-lang-completely-new">
                        <h3 id="lang-completely-new">Add new language</h3>
                        <form method="post" action="/add/name">
                            Language: <input name="lang" size="4">
                            Name: <input name="name_to_add" id="name_to_add_completely-new">
                            Source: <input name="source" size=50 value="Source">
                            <input name="add_to_current_lookup_in_{{language}}" value="Add" type="submit">
                            <input type="hidden" name="dataset" value="{{dataset_filter}}">
                            <input type="hidden" name="search" value="{{current_search}}">
                            <input type="hidden" name="lookup" value="{{lookup_search}}">
                        </form>
                        </div>
                    -->
                    </tr>
                </table>
            </td>    
        {% endif %}

        </tr>
        </table>
{% endblock %}
