{% extends "templates/base.html" %}

{% block page_title %}Sources{% endblock %}

{% block head %}
    <script src="{{'/static/sorttable.js'|url_to_base}}"></script>
{% endblock %}

{% block content %}
    {% if not bulk_imports and not individual_imports %}
        <p>No sources to display.</p>
    {% else %}
        <p>Displaying {{ bulk_imports|length }} bulk import results and {{ individual_imports|length }} <a href="#individual_imports">individual imports</a> from {{ offset + 1 }} to {{offset + display_count }} out of {{ '%d' % total_count }}.</p>

        <h2 id="bulk_imports">Bulk imports</h2>

        <table border="1" class="sortable" style="width: 100%">
            <thead><tr>
                <th>&nbsp;</th>
                <th>Source</th>
                <th>URL</th>
                <th>Vernacular names</th>
                <th>Dates added</th>
                <th>Languages covered</th>
                <th>Source priority</th>
            </tr></thead>
            <tbody>
            {% for bulk_import in bulk_imports %}
                <tr id="#row_source_{{loop.index}}">
                    <td>{{ loop.index + offset }}</td>
                    <td><a href="#row_source_{{loop.index}}" onclick="$('.edit_source_{{loop.index}}').toggle()">{{ bulk_import.source }}</a>
                        <div class="edit_source_{{loop.index}}" style="display: none">
                            <form action="{{'/sources'|url_to_base}}" method="POST">
                                <table>
                                    <tr>
                                        <td>Source name</td>
                                        <td><input name="source_name" value="{{ bulk_import.source }}" size="50"/></td>
                                    </tr>
                                    <tr>
                                        <td>Source URL</td>
                                        <td><input name="source_url" value="{{ bulk_import.source_url }}" size="50"/></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </td>
                    <td>{% if bulk_import.source_url %}<a target="_blank" href="{{ bulk_import.source_url }}">URL</a>{%else%}None{% endif %}</td>
                    <td>{{ bulk_import.vname_count }}</td>
                    <td>{% if bulk_import.min_created_at == bulk_import.max_created_at %}
                            {{ bulk_import.min_created_at }}
                        {% else %}
                            {{ bulk_import.min_created_at }} to {{ bulk_import.max_created_at }}
                        {% endif %}
                    </td>
                    <td>{% if bulk_import.agg_lang|length > 5 %}
                            {{bulk_import.agg_lang[1:5]|join(', ')}} and {{bulk_import.agg_lang|length - 5}} others.
                        {% else %}
                            {{bulk_import.agg_lang|join(', ')}}
                        {% endif %}
                        &nbsp;
                    </td>

                    <td>{{ bulk_import.agg_source_priority|sort|join(', ') }}
                        <div class="edit_source_{{loop.index}}" style="display: none">
                            <form action="{{'/sources'|url_to_base}}" method="POST">
                            <input type="hidden" name="source" value="{{bulk_import.source}}" />
                            <input name="source_priority" size="5" value="{{bulk_import.max_source_priority}}" />
                            <button class="btn btn-primary" type="submit">Change</button>
                        </div>
                    </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 id="individual_imports">Individual imports</h2>

        <table border="1" class="sortable" style="width: 100%">
            <thead><tr>
                <th>&nbsp;</th>
                <th>Source</th>
                <th>Vernacular names</th>
                <th>Languages covered</th>
                <th>Classes covered</th>
                <th>Orders covered</th>
                <th>Families covered</th>
                <th>Source priority</th>
                <th>Action</th>
            </tr></thead>
            <tbody>
            {% for individual_import in individual_imports %}
                <tr>
                    <td>{{ loop.index + offset }}</td>
                    <td>{{ individual_import.source|urlize }}</td>
                    <td>{{ individual_import.vname_count }}</td>
                    <td>{% if individual_import.agg_lang|length > 5 %}
                            {{individual_import.agg_lang[1:5]|join(', ')}} and {{individual_import.agg_lang|length - 5}} others.
                        {% else %}
                            {{individual_import.agg_lang|join(', ')}}
                        {% endif %}
                    </td>

                    <td>{% if individual_import.agg_class|length > 5 %}
                            {{individual_import.agg_class[1:5]|join(', ')}} and {{individual_import.agg_class|length - 5}} others.
                        {% else %}
                            {{individual_import.agg_class|join(', ')}}
                        {% endif %}
                        &nbsp;
                    </td>

                    <td>{% if individual_import.agg_order|length > 5 %}
                            {{individual_import.agg_order[1:5]|join(', ')}} and {{individual_import.agg_order|length - 5}} others.
                        {% else %}
                            {{individual_import.agg_order|join(', ')}}
                        {% endif %}
                        &nbsp;
                    </td>

                    <td>{% if individual_import.agg_family|length > 5 %}
                            {{individual_import.agg_family[1:5]|join(', ')}} and {{individual_import.agg_family|length - 5}} others.
                        {% else %}
                            {{individual_import.agg_family|join(', ')}}
                        {% endif %}
                        &nbsp;
                    </td>

                    <td>{{ individual_import.agg_source_priority|sort|join(', ') }}</td>

                    <td>
                    <form action="{{'/sources'|url_to_base}}" method="POST">
                        <input type="hidden" name="source" value="{{individual_import.source}}" />
                        <input name="source_priority" size="5" value="{{individual_import.max_source_priority}}" />
                        <button class="btn btn-primary" type="submit">Change</button>
                    </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
 
    {% endif %}
{% endblock %}
