{% extends "templates/base.html" %}

{% block page_title %}Sources{% endblock %}

{% block head %}
    <script src="{{'/static/sorttable.js'|url_to_base}}"></script>
{% endblock %}

{% block content %}
    {% if not sources and not individual_imports %}
        <p>No sources to display.</p>
    {% else %}
        <p>Displaying {{ sources|length }} sources from {{ offset + 1 }} to {{offset + display_count }} out of {{ '%d' % total_count }}.</p>

        <div class="well well-sm">
            {% if offset > 0 %}
            <a class="btn btn-default" href="?offset=0">Start</a>
            <a class="btn btn-default" href="?offset={{offset - display_count}}">Previous {{display_count}} entries</a>
            {% endif %}
            {% if offset + display_count < total_count %}
            <a class="btn btn-default" href="?offset={{offset + display_count}}">Next {{display_count}} entries</a>
            {% endif %}
        </div>

        <table border="1" class="sortable" style="width: 100%">
            <thead><tr>
                <th>&nbsp;</th>
                <th>Source</th>
                <th>Source URL</th>
                <th>Added by</th>
                <th>Vernacular names</th>
                <th>Dates added</th>
                <th>Languages covered</th>
                <th>Source priority</th>
            </tr></thead>
            <tbody>
            {% for bulk_import in sources %}
                <tr id="#row_source_{{loop.index}}">
                    <td>{{ loop.index + offset }}</td>
                    <td><a href="#row_source_{{loop.index}}" onclick="$('.edit_source_{{loop.index}}').toggle()">{{ bulk_import.source }}</a>
                        <div class="edit_source_{{loop.index}}" style="display: none">
                            <form action="{{'/sources'|url_to_base}}" method="POST">
                                <input type="hidden" name="offset" value="{{ offset }}" />
                                <input type="hidden" name="display" value="{{ display_count }}" />
                                <input type="hidden" name="source" value="{{ bulk_import.source }}" />
                                <table>
                                    <tr>
                                        <td>Source name</td>
                                        <td><input name="source_new_name" value="{{ bulk_import.source }}" size="50"/></td>
                                    </tr>
                                    <tr>
                                        <td>Source URL</td>
                                        <td><input name="source_url" value="{{ bulk_import.source_url }}" size="50"/></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button type="submit" class="btn btn-primary">Rename source</button>
                                            <button type="button" onclick="$('.edit_source_{{loop.index}}').toggle()" class="btn btn-primary">Cancel</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </td>
                    <td>{% if bulk_import.source_url %}<a target="_blank" href="{{ bulk_import.source_url }}">URL</a>{%else%}None{% endif %}</td>
                    <td>{% if bulk_import.added_by %}{{bulk_import.added_by}}{% else %}<em>Left blank</em>{% endif %}</td>
                    <td>{{ bulk_import.vname_count_formatted }}</td>
                    <td>{% if bulk_import.min_created_at == bulk_import.max_created_at %}
                            {{ bulk_import.min_created_at }}
                        {% else %}
                            {{ bulk_import.min_created_at }} to {{ bulk_import.max_created_at }}
                        {% endif %}
                    </td>
                    <td>{% if bulk_import.agg_lang|length > 5 %}
                            {{bulk_import.agg_lang[1:5]|join(', ')}} and {{bulk_import.agg_lang|length - 5}} others.
                        {% else %}
                            {{bulk_import.agg_lang|join(', ')}}
                        {% endif %}
                        &nbsp;
                    </td>

                    <td><a href="#row_source_{{loop.index}}" onclick="$('.edit_source_{{loop.index}}').toggle()">{{ bulk_import.agg_source_priority|sort|join(', ') }}</a>
                        <div class="edit_source_{{loop.index}}" style="display: none">
                            <form action="{{'/sources'|url_to_base}}" method="POST">
                                <input type="hidden" name="offset" value="{{ offset }}" />
                                <input type="hidden" name="display" value="{{ display_count }}" />
                                <input type="hidden" name="source" value="{{bulk_import.source}}" />
                                <input name="source_priority" size="5" value="{{bulk_import.max_source_priority}}" />
                                <button class="btn btn-primary" type="submit">Change priority</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="well well-sm">
            {% if offset > 0 %}
                <a class="btn btn-default" href="?offset=0">Start</a>
                <a class="btn btn-default" href="?offset={{offset - display_count}}">Previous {{display_count}} entries</a>
            {% endif %}
            {% if offset + display_count < total_count %}
                <a class="btn btn-default" href="?offset={{offset + display_count}}">Next {{display_count}} entries</a>
            {% endif %}
        </div>


    {% endif %}
{% endblock %}
